<footer>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <a href="/index">&copy; <b>ISSO-UNCC</b></a>
  <a href="/about"><b>About</b></a>
  <a href="/contactus"><b>Contact</b></a>
  <div class="footer-icons">
    <a href="https://www.facebook.com/"><i class="fa fa-facebook" style="font-size:24px"></i></a>
    <a href="https://twitter.com/"><i class="fa fa-twitter" style="font-size:24px"></i></a>
    <a href="https://www.instagram.com/"><i class="fa fa-instagram" style="font-size:24px"></i></a>
    <a href="https://www.linkedin.com/"><i class="fa fa-linkedin" style="font-size:24px"></i></a>
    <a href="https://www.youtube.com/"><i class="fa fa-youtube" style="font-size:24px"></i></a>
</div> 

</footer>
</body>

</html>