<!-- <div class="nav_article">
			<h3>0 people are going. Are you interested in going?</h3>		
				<a href="/events/savedConnections" class="yes">Yes</a>
				<a href="/events/savedConnections" class="no">No</a>
				<a href="/events/savedConnections" class="maybe">May be</a>
</div> -->
<!-- <div class="nav_article">	
	<h3>0 people are going. Are you interested in going?</h3>					
	<form>
		<button class="yes" type="submit" formmethod="PUT" formaction="/events/Yes/updateRsvp">Yes</button>
		<button class="no" type="submit" formmethod="PUT" formaction="/events/No/updateRsvp">No</button>
		<button class="maybe" type="submit" formmethod="PUT" formaction="/events/Maybe/updateRsvp">Maybe</button>
	</form>
</div> -->