<%- include("./partials/header.ejs") %>
	<div class="articles">
		<h2>About Us</h2><br><br>
		<p>The mission of the International Student and Scholar Office is to provide information,
			services and programs that help international students and visiting scholars achieve their individual
			educational
			and personal goals and that foster an appreciation for a culturally diverse learning environment in the
			larger University community. Approximately 2,000 international students come to UNC Charlotte from nearly
			100 countries.</p>

		<br><br><br>
		<p><a href="/connections"><b>Click here </b></a>to go to the weekly events which happen at ISSO office.</p>
		<br><br>
		<p><a href="/contactus"><b>Click here </b></a>to contact the ISSO office.</p>
	</div>
<%- include("./partials/footer.ejs") %>