<%- include("./partials/header.ejs") %>
	<div class="articles">
		<h2>Contact Us</h2>
		<p>&nbsp;</p>
		<p><b>Address:</b> 9201 University City Blvd</p>
		<p>Woodward Hall 306</p>
		<p>Charlotte, NC 28223</p>
		<p>United States</p><br>
		<p><b>Contact Email:</b> isso@uncc.edu</p><br>
		<p><b>Phone Number:</b> 704-123-4567</p>
	</div>
<%- include("./partials/footer.ejs") %>